<!DOCTYPE html>
<html>
<head>
	<title><%= "#{current_page.data.title} | Dispatch Delivery" || "Dispatch Delivery" %></title>
  <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "site" %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rammetto+One&family=Oswald&display=swap" rel="stylesheet">
</head>
<body>

</body>
</html>

<div class="container-fluid bg-pattern p-5">
	<div class="row bg-white text-center py-5">
		<div class="col-12">
			<h1><%= current_page.data.title %></h1>
			<h2><%= current_page.data.content %></h2>
		</div>
	</div>
</div>

<%= yield %>