<div class="container-fluid bg-pattern p-5">
	<div class="row bg-white">
		<div class="col-12 col-md-6 p-5 order-2 order-md-1">
			<h3 class="text-lowercase pb-3"><%= name %></h3>
			<h4>ingredients:</h4>
			<p class="text-lowercase"><%= ingredients %></p>
			<p><%= lorem.words 5 %></p>
			<p><%= lorem.words 30 %></p>

			<h4>instructions:</h4>
			<ol>
				<li class="pb-3"><%= lorem.words 13 %></li>
				<li class="pb-3"><%= lorem.words 20 %></li>
				<li><%= lorem.words 15 %></li>
			</ol>
		</div>
		<div class="col-12 col-md-6 order-1 order-md-2 p-0">
			<%= image_tag(image, class: 'img-fluid')%>
		</div>
	</div>
</div>