---
title: Home
---
<%= image_tag( lorem.image('1024x400', random_color: true, text: 'imagine some sort of image here'), class: 'img-fluid' )%>
<h1 class="text-center"> <%= current_page.data.title %></h1>
<h2 class="text-center"><%= lorem.words 6 %></h2>
<h3 class="text-center"><%= lorem.words 13 %></h3>
<%= image_tag( lorem.image('1024x400', random_color: true, text: 'imagine another sort of image here'), class: 'img-fluid' )%>