---
title: Menu
tagline: Eat this food for your body
content: Your body will dissolve it mostly and the rest will come out in as warm compact moist ..soil. Color and texture may vary.
---

<div class="container-fluid bg-pattern p-5">
	<div class="row bg-white text-center py-5">
		<div class="col-12">
			<h1><%= current_page.data.tagline %></h1>
			<h4 class="content-wide-mw"><%= current_page.data.content %></h4>
		</div>
	</div>
</div>

<div class="row px-3 pt-3 pb-5">
  <div class="col-12 col-md-3 col-lg-2">
    <div class="list-group" id="list-tab" role="tablist">
    	<% data.menu.each_with_index do |m, i| %>
      	<a class="list-group-item list-group-item-action <%= i == 0 ? 'active' : '' %>" id="list-<%= m.first %>-list" data-toggle="list" href="#list-<%= m.first %>" role="tab" aria-controls="<%= m.first %>"><%= m.first %></a>
    	<% end %>
    </div>
  </div>
  <div class="col-12 col-md-9 col-lg-10">
    <div class="tab-content" id="nav-tabContent">
    	<% data.menu.each_with_index do |m, i| %>
      	<div class="tab-pane fade <%= i == 0 ? 'show active' : '' %>" id="list-<%= m.first %>" role="tabpanel" aria-labelledby="list-<%= m.first %>-list">
      		<div class="row">
	      		<% m[1].each do |item| %>
		      		<div class="col-6 col-md-4 p-2">
		    				<div class="card shadow">
		    					<%= image_tag(item.image, class: "card-img-top") %>
		    					<div class="card-body">
		    						<h4 class="card-title text-lowercase">
		    							<a href="#" class="stretched-link text-decoration-none"><%= item.name %></a>
		    						</h4>
		    						<div class="card-text text-lowercase">
		    							<small><%= item.ingredients %></small>
		    						</div>
		    					</div>
		    				</div>
		    			</div>
	      		<% end %>
	      	</div>
      	</div>
    	<% end %>
    </div>
  </div>
</div>